/*
    main.css

    Sep 29 2019   Initial
    Sep 30 2019   new sections
    Oct 03 2019   new sections
    Oct 25 2019   Add a class for button group
    Oct 27 2019   Class for vertical menu buttons 
    Dec 05 2019   WIP on session message in menu
    Dec 13 2019   Log window styles 
    Dec 31 2019   Log list styles

*/

* {
    margin: 0;
    padding: 0;
  }
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
#header {
  border-bottom: 2px solid lightgray;
  padding: 2px 0px 2px 0px;
}
#header h1 { font-weight: bold; font-size: 1.5em; }
#header h2 {font-weight: normal;font-size: 1em; }
#header h3 {font-weight: normal;font-size: 0.8em; }

#menu {text-align: left;}
.menualert  { font-weight: bolder; font-style: italic; padding-left: .6em; padding-right: .6em; border-radius: 4px; }

#appzone {padding-top: 1em;padding-bottom: 1em;margin-top: 1em;}
#footer {font-size: 1em;margin-top: 1em;padding-top: 1em;}

.bootstrap h1 { font-weight: bold;font-size: 1em;}
.bootstrap h2 {font-weight: normal;font-size: 0.8em;}

.identification {padding-top: 1em;padding-bottom: 1em;}
.viewbackground {background-color: lightgray;}
.viewframe { border: 1px solid lightgray; padding: 0; margin: 0; };
.viewframeiner { border: 1px solid lightgray;};

li {margin: 0 0.8em;}

.btn-group button { margin: 0 7px; border-radius: 4px; }

.navbar-nav .btn {
  margin-bottom:10px;
  margin-left:5px;
}

ul {
  margin-top: 6px;
}

.loginf { font-size: small; }
.logerr { color:red; font-size: small;}
.logwarn { color: forestgreen; font-size: small;}
.logfatal { color: red; font-size: small; }

.underlined { text-decoration: underline; }
.textcenter { text-align: center;}
.textleft { text-align: left; }
.textright { text-align: right; }

div.inlineright { float:right; }
